{% extends "base.html" %}
{% load static %}

{% block css_styling %}
    <link rel="stylesheet" href="{% static "blog/style.css" %}">
{% endblock css_styling %}


{% block page_title %}
This Post
{% endblock page_title %}

{% block content %}
<header id="main-navigation">
    <h1><a href="{% url "start-project" %}">Daud's Blog</a></h1>
    <nav>
        <a href="{% url "posts-page" %}">All Posts</a>
    </nav>    
</header>

<section id="summary">
    <h2>{{post.title}}</h2>
    <div>
        {% for post in post_tag %}
        <span class = "tags">{{post}}</span>
        {% endfor %}
    </div>
    <article>
        <img src="{% static "blog/images/"|add:post.image %}" alt=Post Title"">
        <address>By <a href = "mailto:{{post.author.email_address}}">{{post.author}}</a></address>
        <div>
            Last updated on 
            <time>{{post.date|date:"d M Y"}}</time>
        </div>
    </article>
</section>

<main>
    <p>{{post.content|linebreaks}}</p>
</main>

{% endblock content %}

